.header {
    padding: {
        top: 20px;
        bottom: 20px;
    }
}

.logo {
    max-width: 50px;
}

.menu {
    text-align: right;
    .menuLink {
        padding: {
            left: 20px;
            right: 20px;
        }
        margin: {
            top: 20px;
        }
    }
}
